# ========================
# ENV
# ========================
.env
.env.*
*.env

# ========================
# NODE / FRONTEND
# ========================
node_modules/
dist/
build/
.vite/

# ========================
# .NET
# ========================
**/bin/
**/obj/

# ========================
# OS
# ========================
.DS_Store
__MACOSX/

# ========================
# IDE
# ========================
.vscode/
.idea/